{% extends 'base.html' %}
{% load comment_filter %}

{% block content %}
    <p>
        {% if user and not user.is_anonymous %}
            Hello {{ user.username }}
        {% else %}
            asd
        {% endif %}
    </p>

    <!-- Форма для комментариев, не отображается -->
    <form action="" method="POST" style="display: none" class="comment_form">
        {% csrf_token %}
        <p class="comment_text">{{ AddCommentForm }}</p>
        <input type="submit" class="btn">
    </form>

    <form action="{% url 'wall:add-message' %}" method="POST" style="display: block" class="message_form">
        {% csrf_token %}
        <p class="comment_text">{{ AddMessageForm }}</p>
        <input type="submit" class="btn">
    </form>
    <div class="message-container">
        {% for msg in messages %}
            <div class="message-wrapper">
                <div>
                    <a href="{% url 'wall:edit-message' id=msg.id %}" class="redit">edit</a>
                    <p class="msg-body">{{ msg.body }}</p>
                    <span class='message-author'>{{ msg.author }}</span>
                    <span class='message-date' data-url="{% url 'wall:add-comment' id=msg.id pk=0 %}">{{ msg.date }}</span>
                    <a class="comment">comment</a>
                </div>
                {% if msg.comments.all %}
                    <div class="all-comments"> <!-- Контейнер для всех комментариев к сообщению -->
                        {% for comment in msg.comments|parent_filter %} <!-- Фильтр для выборки комментариев верхнего уровня -->
                            <div class="comment_div"> <!-- Контейнер для каждого комментария, включая дочерние -->
                                <div class="comment-wrapper">
                                    <a href="{% url 'wall:edit-comment' id=comment.id %}" class="edit">edit</a>
                                    <p style="margin-left: 20px; color: red" data-comment_id="{{ comment.id }}" class="comment-text">
                                        {{ comment.body }}
                                    </p>
                                    <span class='comment-author'>{{ comment.author }}</span>
                                    <span class='comment-date' data-url="{% url 'wall:add-comment' id=msg.id pk=comment.id %}">{{ comment.posted }}</span>

                                    <a class="reply">reply</a>
                                </div>
                                <div class="all-comments">
                                {% if comment.children.all %}
                                    {% include 'wall/comment.html' with comments=comment.children.all %}
                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="comment-wrapper"><p class="void-class">clear</p></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}