{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock title %}
        </title>
{#        <link rel="stylesheet" href="{% static 'components/bootstrap/bootstrap-3.3.7.min.css' %}">#}
{#        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400">#}
{#        <link rel="stylesheet" href="{% static 'components/bxslider/jquery.bxslider.min.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- FONTS -->
{#        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Bitter|Josefin+Sans|Quattrocento|Abril+Fatface" rel="stylesheet">#}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
{#        <form id="csrf_getting_form" action="" class="hidden">{% csrf_token %}</form>#}
        <header>
        </header>

        {% block content %}
        {% endblock content %}

        <footer>
            <address>Created by Roman Nozhenko</address>
        </footer>

        <script src="{% static 'libs/jquery-3.2.1.js' %}"></script>
{#        <script src="{% static 'components/jquery-ui.min.js' %}"></script>#}
{#        <script src="{% static 'components/jquery.easytabs.min.js' %}"></script>#}
{#        <script src="{% static 'components/bxslider/jquery.bxslider.min.js' %}"></script>#}
{#        <script src="{% static 'components/bootstrap/bootstrap-3.3.7.min.js' %}"></script>#}
        <script src="{% static 'main.js' %}"></script>
{#        <script type="text/javascript">#}
{#            function refreshPage () {#}
{#                    var page_y = document.getElementsByTagName("body")[0].scrollTop;#}
{#                    window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;#}
{#                };#}
{#            var cart_add_url = "{% url "cart:cart_add" product.id %}";#}
{#        </script>#}
    </body>
</html>