{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-3.3.7.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <header>
        </header>

        {% block content %}
        {% endblock content %}

        <footer>
            <address>Created by Roman Nozhenko</address>
        </footer>

        <script src="{% static 'libs/jquery-3.2.1.js' %}"></script>
        <script src="{% static 'libs/waypoints/lib/jquery.waypoints.js' %}"></script>
        <script src="{% static 'libs/waypoints/src/shortcuts/infinite.js' %}"></script>
        <script src="{% static 'libs/bootstrap/bootstrap-3.3.7.min.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>
        <script>
            var infinite = new Waypoint.Infinite({
              element: $('.infinite-container')[0],
              onBeforePageLoad: function () {
                $('.loading').show();
              },
              onAfterPageLoad: function ($items) {
                $('.loading').hide();
              }
            });
        </script>
    </body>
</html>