{% extends 'base.html' %}

{% block content %}
    <div>
        {% if user and not user.is_anonymous %}
            <div class="login">
                <a href="{% url 'wall:logout' %}" class="btn btn-default">logout</a>
                <p>{{ user.username }}<a href="{% url 'wall:msg-wall' %}">стена сообщений</a></p>
            </div>
        {% else %}
            <div class="login">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default">Google+</a>
                <p>Для добавления и комментирования сообщений выполните вход</p>
            </div>
        {% endif %}
    </div>

{% endblock %}